.App-header {
  background-color: #282c34;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  text-align: center;
}

.App-link {
  color: #09d3ac;
}

.App-calendar {
  margin: auto;
}

#root {
  height: calc(100vh - 70px);
}
